@tailwind base;
@tailwind components;
@tailwind utilities;

#loaders{
  background-image:url('./images/html.png');
  object-fit:cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  
}
#loaders1{
  background-image: url('./images/css-3.png');
  object-fit:cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;

}
#loaders2{
  background-image: url('./images/javascript.png');
  object-fit:cover;
  background-size: contain;
  background-repeat: no-repeat;

}
#loaders3{
  background-image: url('./images/bootstrap.png');
  object-fit:cover;
  background-size: contain;
  background-repeat: no-repeat;

}
#loaders4{
  background-image: url('./images/tailwind.png');
  object-fit:cover;
  background-size: contain;
  background-repeat: no-repeat;

}
#loaders5{
  background-image: url('./images/Gsap.png');
  object-fit:cover;
  background-size: cover;
  background-repeat: no-repeat;

}
#loaders6{
  background-image: url('./images/react-.png');
  object-fit:cover;
  background-size: contain;
  background-repeat: no-repeat;

}
#loader-container{
  overflow: hidden;
}


#loading_text,#loading_no{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background: linear-gradient(to bottom right,#1EAE98,#614385 ,#614385); /* Adjust gradient colors and direction */
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}
#text-container{
  overflow: hidden;
}
.bg-gradient{
  background: linear-gradient(45deg,#1EAE98,#614385 ,#614385); 
}
#home{
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;

}
#home_container{
  overflow: hidden;
}

/* HTML: <div class="loader"></div> */
#loader {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 3.8vw;
  clip-path: inset(0 100% 0 0);
  animation: l5 1s steps(20) infinite;
  background: linear-gradient(to bottom left, #5d42a0, #684585,#1EAE98); /* Gradient color */
  background-clip: text; /* Apply gradient to text */
  -webkit-text-fill-color: transparent; /* Make text color transparent */
  text-align: center;
}
#loader:before{
  content:"Frontend Developer."
}
@keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}
#img_container {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(245, 183, 68);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgb(237, 168, 41) #f0f0f0;
}




